@import url("https://fonts.googleapis.com/css?family=DM+Sans:300,400,700&amp;display=swap");
* {
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  color: var(--bs-gray-600);
}

.home-header {
  background-color: rgba(0, 0, 0, 0.6235294118);
  position: relative;
  height: 100vh;
}

.home-header::before {
  content: "";
  position: absolute;
  background: url("/src/img/IMG_20220822_144218_copy_1440x1920.jpg") center center/cover no-repeat;
  background-position: 20% 28%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.about-header,
.contact-header,
.services-header {
  background-color: rgba(0, 0, 0, 0.6235294118);
  position: relative;
}

.about-header::before,
.contact-header::before,
.services-header::before {
  content: "";
  position: absolute;
  background: url("/src/img/IMG_20220822_144218_copy_1440x1920.jpg") center center/cover no-repeat;
  background-position: -70% 50%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.navbar-brand {
  font-style: italic;
}

.navbar-text:hover {
  color: #32cd32;
}

#About h2 {
  font-weight: 500;
}
#About p {
  color: var(--bs-gray-600);
}
#About span {
  font-weight: 500;
}
#About .about-title {
  position: relative;
  font-size: xx-large;
  padding-bottom: 20px;
  margin-bottom: 60px;
}
#About .about-title::after {
  content: "";
  left: 0;
  bottom: 0;
  width: 80px;
  height: 6px;
  border-radius: 20px;
  background: #32cd32;
  opacity: 50%;
  position: absolute;
}

.opening-time {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 55px;
  margin-top: 37px;
}
.opening-time span {
  color: var(--bs-gray-600);
  font-size: 20px;
  font-weight: 500;
  margin-left: 6px;
  display: inline-block;
}

.site-section {
  margin-top: 2rem;
  padding-top: 150px;
  padding-bottom: 120px;
}

.section_title h3 {
  font-size: 50px;
  font-weight: 400;
  line-height: 51px;
  color: #222;
  margin-bottom: 21px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .section_title h3 {
    font-size: 33px;
    line-height: 40px;
  }
}
#Services {
  padding-top: 150px;
  padding-bottom: 120px;
}
#Services .service-title {
  position: relative;
  font-size: xx-large;
  padding-bottom: 20px;
  margin-bottom: 60px;
}
#Services .service-title::after {
  content: "";
  left: 0;
  bottom: 0;
  width: 80px;
  height: 6px;
  border-radius: 20px;
  background: #ffffff;
  opacity: 60%;
  position: absolute;
}

#About h2 {
  font-weight: 500;
}
#About p {
  color: var(--bs-gray-600);
}
#About span {
  font-weight: 500;
}

.card-title {
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.card-title::after {
  content: "";
  left: 0;
  bottom: 0;
  width: 40px;
  height: 2px;
  background: #32cd32;
  position: absolute;
}

.list-text-color {
  color: var(--bs-gray-600);
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}
.swiper .swiper-slide img {
  display: block;
  width: 100%;
}

.make_apppointment_area {
  padding-top: 150px;
  padding-bottom: 120px;
}
.make_apppointment_area .appoint_ment_form {
  margin-bottom: 30px;
}
.make_apppointment_area .appoint_ment_form .single_field {
  margin-bottom: 32px;
}
.make_apppointment_area .appoint_ment_form .single_field input, .make_apppointment_area .appoint_ment_form .single_field textarea {
  width: 100%;
  border: 0;
  padding-bottom: 3px;
  border-bottom: 1px solid #c1c1c1;
  padding-left: 10px;
  height: 50px;
  font-family: "Lato", sans-serif;
  color: #000;
  background: transparent;
}
.make_apppointment_area .appoint_ment_form .single_field textarea {
  resize: none;
  margin-top: 41px;
  padding: 11px 20px 14px 10px;
}
.make_apppointment_area .appoint_ment_form form p {
  margin-top: 17px;
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 400;
  color: #464444;
  line-height: 30px;
}
.make_apppointment_area .appoint_ment_form form button {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.footer {
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background: #0d0e0f;
  position: relative;
  z-index: 0;
}
.footer .footer_top {
  padding-top: 130px;
  padding-bottom: 110px;
}
.footer .footer_widget {
  margin-bottom: 30px;
}
.footer .footer_widget p {
  color: #aab1b7;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #aab1b7;
}
.footer .footer_widget .footer_logo {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 35px;
}
.footer .footer_widget .address_text {
  font-size: 16px;
  font-weight: 400;
  color: #959595;
}
.footer .footer_widget .footer_title {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 38px;
  position: relative;
  margin-top: 20px;
}
.footer .footer_widget .links {
  position: relative;
  top: -14px;
  padding-left: 0;
}
.footer .footer_widget ul li {
  color: #acacac;
  font-size: 16px;
  line-height: 40px;
  list-style: none;
}
.footer .footer_widget ul li a {
  color: #959595;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}
.footer .socail_links {
  margin-top: 26px;
}